{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-pages-single story-{{ .Params.weight }} {{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
    <div id="pinMaster">
      <div class="exit">
       <a href="#" onclick="history.back(-1)"><i class="fa fa-times-circle fa-2x"></i></a>
      </div>

        <div id="pinContainer">
          <section class="panel one">
              <div class="title">
                  <h1>In the Weeds</h1>
                  <img src="{{ .Site.BaseURL }}images/yellow-underline-left.svg" alt="Yellow Underline">
              </div>
          </section>
          <section class="panel two"> </section>
          <section class="panel three"> </section>
          <section class="panel four"> </section>
          <section class="panel five"> </section>
          <section class="panel six">
              <img src="{{ .Site.BaseURL }}photostory-weeds/france3.jpg" alt="Avatar"> />
          </section>
          <section class="panel seven"> </section>
          <section class="panel eight"> </section>
          <section class="panel nine"> </section>
          <section class="panel ten"> </section>
          <section class="panel eleven"> </section>
          <section class="panel twelve">
            <img src="{{ .Site.BaseURL }}photostory-weeds/france5.jpg" alt="Avatar"> />
          </section>
          <section class="panel thirteen"> </section>
          <section class="panel fourteen"> </section>
          <section class="panel fifteen"> </section>
          <section class="panel sixteen"> </section>
          <section class="panel seventeen"> </section>
          <section class="panel eighteen"> </section>
          <section class="panel nineteen"> </section>
          <section class="panel twenty">
              <img src="{{ .Site.BaseURL }}photostory-weeds/france8.jpg" alt="Avatar"> />
          </section>
          <section class="panel twenty-one"> </section>
          <section class="panel twenty-two"> </section>
          <section class="panel twenty-three"> </section>
          <section class="panel twenty-four"> </section>
          <section class="panel twenty-five"> </section>
          <section class="panel twenty-six">
              <img src="{{ .Site.BaseURL }}photostory-weeds/france10.jpg" alt="Avatar"> />
          </section>
          <section class="panel twenty-seven"> </section>
          <section class="panel twenty-eight"> </section>
          <section class="panel twenty-nine"> </section>
          <section class="panel thirty"> </section>
          <section class="panel thirty-one"> </section>
          <section class="panel thirty-two"> </section>
          <section class="panel thirty-three"> </section>
          <section class="panel thirty-four">
              <img src="{{ .Site.BaseURL }}photostory-weeds/france13.jpg" alt="Avatar"> />
          </section>
          <section class="panel thirty-five"></section>
          <section class="panel thirty-six">
              <img src="{{ .Site.BaseURL }}photostory-weeds/france19.png" alt="Avatar"> />
          </section>
          <section class="panel thirty-seven"> </section>
          <section class="panel thirty-eight"> </section>
          <section class="panel thirty-nine"> </section>
          <section class="panel forty endcard">
              <div class="endcard-itms" style="width: 50%;">
                  <p class="endcard-txt">
                      Photos by Haley France
                  </p>
                  <p class="endcard-txt" style="margin-bottom: 10%;">
                      Special thanks to Mariko Wallen, Melissa Cabral, Jalima Gold, Marneesha Leslie, Britney Gibson,
                      Rita Leslie and Malawi Leslie.
                  </p>
                  <a href="#" onclick="history.back(-1)" class="endcard-btn">
                      Back to Story
                  </a>
              </div>
          </section>

        </div>
    </div>

<style>
.header, .footer, .main-menu-mobile {
  display:none;
}

.one {
    background-image: url("{{ .Site.BaseURL }}photostory-weeds/france1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.two{
  background-image: url("{{ .Site.BaseURL }}photostory-weeds/france2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.four {
  background-image: url("{{ .Site.BaseURL }}photostory-weeds/france2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.six img{
  display: block;
  margin-left: auto;
  margin-right: auto;
 width: 75vw;
 padding-top: 5vh;
 padding-bottom: 5vh;
}


.eight {
  background-image: url("{{ .Site.BaseURL }}photostory-weeds/france4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.ten {
  background-image: url("{{ .Site.BaseURL }}photostory-weeds/france6.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.twelve img{
  display: block;
  margin-left: auto;
  margin-right: auto;
 width: 75vw;
 padding-top: 5vh;
 padding-bottom: 5vh;
}

.fourteen{
  background-image: url("{{ .Site.BaseURL }}photostory-weeds/france6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.sixteen {
  background-image: url("{{ .Site.BaseURL }}photostory-weeds/france7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.eighteen{
  background-image: url("{{ .Site.BaseURL }}photostory-weeds/france10.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.twenty img{
    display: block;
    margin-left: auto;
    margin-right: auto;
   width: 75vw;
   padding-top: 5vh;
   padding-bottom: 5vh;
  }

.twenty-two{
  background-image: url("{{ .Site.BaseURL }}photostory-weeds/france9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.twenty-four{
  background-image: url("{{ .Site.BaseURL }}photostory-weeds/france13.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.twenty-six img{
  display: block;
  margin-left: auto;
  margin-right: auto;
 width: 75vw;
 padding-top: 5vh;
 padding-bottom: 5vh;
}

.twenty-eight{
  background-image: url("{{ .Site.BaseURL }}photostory-weeds/france11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.thirty{
  background-image: url("{{ .Site.BaseURL }}photostory-weeds/france16.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.thirty-two{
  background-image: url("{{ .Site.BaseURL }}photostory-weeds/france12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.thirty-four img{
  display: block;
  margin-left: auto;
  margin-right: auto;
 width: 75vw;
 padding-top: 5vh;
 padding-bottom: 5vh;
}

.thirty-six img{
  display: block;
  margin-top: -10%;
  width: 100vw;
}

.thirty-eight{
  background-image: url("{{ .Site.BaseURL }}photostory-weeds/france14.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

</style>

{{ end }}
