{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-pages-single story-{{ .Params.weight }} {{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}


<div id="pinMaster">
  <div class="exit">
   <a href="#" onclick="history.back(-1)"><i class="fa fa-times-circle fa-2x"></i></a>
  </div>

   <div id="pinContainer">

     <section class="panel one">
         <div class="title">
             <h1>Guiding Generations</h1>
             <img src="{{ .Site.BaseURL }}images/yellow-underline-left.svg" alt="Yellow Underline">
         </div>
     </section>
     <section class="panel two"> </section>
     <section class="panel three"> </section>
     <section class="panel four"></section>
     <section class="panel five"> </section>
     <section class="panel six">
        <img src="{{ .Site.BaseURL }}photostory-generations/france2.jpg" alt="Avatar">
     </section>
     <section class="panel seven"> </section>
     <section class="panel eight">
         <img src="{{ .Site.BaseURL }}photostory-generations/france5.png" alt="Avatar">
     </section>
     <section class="panel nine"> </section>
     <section class="panel ten"> </section>
     <section class="panel eleven"> </section>
     <section class="panel twelve"> </section>
     <section class="panel thirteen"> </section>
     <section class="panel fourteen"> </section>
     <section class="panel fifteen"> </section>
     <section class="panel sixteen">
         <img src="{{ .Site.BaseURL }}photostory-generations/france5.jpg" alt="Avatar">
     </section>
     <section class="panel seventeen"></section>
     <section class="panel eighteen"> </section>
     <section class="panel nineteen"> </section>
     <section class="panel twenty"> </section>
     <section class="panel twenty-one"> </section>
     <section class="panel twenty-two">
         <img src="{{ .Site.BaseURL }}photostory-generations/france12.png" alt="Avatar">
     </section>
     <section class="panel twenty-three"> </section>
     <section class="panel twenty-four">
         <img src="{{ .Site.BaseURL }}photostory-generations/france7.jpg" alt="Avatar">
     </section>
     <section class="panel twenty-five"></section>
     <section class="panel twenty-six">
         <img src="{{ .Site.BaseURL }}photostory-generations/france8.jpg" alt="Avatar">
     </section>
     <section class="panel twenty-seven"> </section>
     <section class="panel twenty-eight"> </section>
     <section class="panel twenty-nine"> </section>
     <section class="panel thirty"> </section>
     <section class="panel thirty-one"> </section>
     <section class="panel thirty-two"> </section>
     <section class="panel thirty-three"> </section>
     <section class="panel thirty-four"> </section>
     <section class="panel thirty-five"></section>
     <section class="panel thirty-six"> </section>
     <section class="panel thirty-seven"> </section>
     <section class="panel thirty-eight">
         <img src="{{ .Site.BaseURL }}photostory-generations/france12.jpg" alt="Avatar">
     </section>
     <section class="panel thirty-nine"></section>
     <section class="panel forty">
          <img src="{{ .Site.BaseURL }}photostory-generations/france13.jpg" alt="Avatar">
     </section>
     <section class="panel forty-one"> </section>
     <section class="panel forty-two"> </section>
     <section class="panel forty-three"> </section>
     <section class="panel forty-four">
         <img src="{{ .Site.BaseURL }}photostory-generations/france23.png" alt="Avatar">
     </section>
     <section class="panel forty-five"> </section>
     <section class="panel forty-six"> </section>
     <section class="panel forty-seven"> </section>
     <section class="panel forty-eight"> </section>
     <section class="panel forty-nine"> </section>
     <section class="panel fifty endcard">
         <div class="endcard-itms" style="width: 50%;">
             <p class="endcard-txt">
                 Photos by Haley France
             </p>
             <p class="endcard-txt" style="margin-bottom: 10%;">
                 Special thanks to Natasha Gibson and Athaliah Belisle
             </p>
             <a href="#" onclick="history.back(-1)" class="endcard-btn">
                 Back to Story
             </a>
         </div>
     </section>
   </div>
</div>

<style>
  .header, .footer, .main-menu-mobile {
    display:none;
  }

  .one {
      background-image: url("{{ .Site.BaseURL }}photostory-generations/france2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
  }

  .two{
    background-image: url("{{ .Site.BaseURL }}photostory-generations/france2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .four {
    background-image: url("{{ .Site.BaseURL }}photostory-generations/france1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .six img{
      display: block;
      margin-left: auto;
      margin-right: auto;
     width: 75vw;
     padding-top: 5vh;
     padding-bottom: 5vh;
  }


  .eight img{
    display: block;
    margin-top: -10%;
    width: 100vw;

  }

  .ten {
    background-image: url("{{ .Site.BaseURL }}photostory-generations/france3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .twelve {
    background-image: url("{{ .Site.BaseURL }}photostory-generations/france7.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .fourteen{
    background-image: url("{{ .Site.BaseURL }}photostory-generations/france4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sixteen img{
    display: block;
    margin-left: auto;
    margin-right: auto;
   width: 75vw;
   padding-top: 5vh;
   padding-bottom: 5vh;
  }

  .eighteen{
    background-image: url("{{ .Site.BaseURL }}photostory-generations/france6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }


  .twenty {
    background-image: url("{{ .Site.BaseURL }}photostory-generations/france11.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .twenty-two img{
    display: block;
    margin-top: -10%;
    width: 100vw;

  }

  .twenty-four img{
    display: block;
    margin-left: auto;
    margin-right: auto;
   width: 75vw;
   padding-top: 5vh;
   padding-bottom: 5vh;
  }

  .twenty-six img{
    display: block;
    margin-left: auto;
    margin-right: auto;
   width: 75vw;
   padding-top: 5vh;
   padding-bottom: 5vh;
  }

  .twenty-eight{
    background-image: url("{{ .Site.BaseURL }}photostory-generations/france9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .thirty{
    background-image: url("{{ .Site.BaseURL }}photostory-generations/france16.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .thirty-two{
    background-image: url("{{ .Site.BaseURL }}photostory-generations/france17.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .thirty-four {
    background-image: url("{{ .Site.BaseURL }}photostory-generations/france10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .thirty-six {
    background-image: url("{{ .Site.BaseURL }}photostory-generations/france11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .thirty-eight img{
    display: block;
    margin-left: auto;
    margin-right: auto;
   width: 45vw;
   padding-top: 5vh;
   padding-bottom: 5vh;
   padding-right: 50%;
   padding-left: 5%;
  }


  .forty img{
    display: block;
    margin-left: auto;
    margin-right: auto;
   width: 45vw;
   padding-top: 5vh;
   padding-bottom: 5vh;
   padding-left: 50%;
   padding-right: 5%;
  }

  .forty-two{
    background-image: url("{{ .Site.BaseURL }}photostory-generations/france14.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .forty-four img{
    display: block;
    margin-top: -10%;
    width: 100vw;

  }

  .forty-six{
    background-image: url("{{ .Site.BaseURL }}photostory-generations/france15.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .forty-eight{
    background-image: url("{{ .Site.BaseURL }}photostory-generations/france25.png");
    background-repeat: no-repeat;
    background-size: cover;
  }


</style>

{{ end }}
