{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-pages-single story-{{ .Params.weight }} {{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div id="pinMaster">
  <div class="exit">
   <a href="/culture#rooted"><i class="fa fa-times-circle fa-2x"></i></a>
  </div>
    <div id="pinContainer">
        <section class="panel one">
            <div class="title">
                <h1>Rooted in Culture</h1>
                <img src="{{ .Site.BaseURL }}images/yellow-underline-left.svg" alt="Avatar">
              </div>

        </section>
        <section class="panel two">
            <button onclick="captionOne()" class="caption-btn">Caption</button>
            <div id="hiddenCaptionOne" class="hidden-caption">
                <img src="http://mj584y2020-dept-mjinternational.cloudapps.unc.edu/images/interactive-top.svg"
                    class="wave">
                <div class="text-bg">
                    <p>
                        Narciso Saqui, 57, and a fellow farmworker work to crack open cacao pods and scrape out the
                        pulp-covered beans within to separate into buckets on Saqui’s farm in Kendal, Belize, on
                        March 11, 2020. Saqui welcomes additional help on the farm. He says it helps give people in
                        his community something to do, and a source of income.
                    </p>
                </div>

            </div>

        <script>
          function captionOne() {
              var x = document.getElementById("hiddenCaptionOne");
              if (x.style.display === "none") {
                  x.style.display = "block";
              } else {
                  x.style.display = "none";
              }
          }
        </script>
        </section>
        <section class="panel three"> </section>
        <section class="panel four"> </section>
        <section class="panel five"> </section>
        <section class="panel six inset">
             <img src="{{ .Site.BaseURL }}photostory-rooted/duong_4.jpg" alt="Avatar"> />
        </section>
        <section class="panel seven"> </section>
        <section class="panel eight inset">
            <img src="{{ .Site.BaseURL }}photostory-rooted/duong_5.jpg" alt="Avatar"> />
        </section>
        <section class="panel nine"> </section>
        <section class="panel ten">
            <button onclick="captionThree()" class="caption-btn">Caption</button>

            <div id="hiddenCaptionThree" class="hidden-caption">
                <img src="http://mj584y2020-dept-mjinternational.cloudapps.unc.edu/images/interactive-top.svg"
                    class="wave">
                <div class="text-bg">
                    <p>
                        Narcio Saqui's home in Maya Centre Village.
                    </p>
                </div>
            </div>
            <script>
              function captionThree() {
                  var x = document.getElementById("hiddenCaptionThree");
                  if (x.style.display === "none") {
                      x.style.display = "block";
                  } else {
                      x.style.display = "none";
                  }
              }
            </script>
        </section>
        <section class="panel eleven"></section>
        <section class="panel twelve"> </section>
        <section class="panel thirteen"> </section>
        <section class="panel fourteen">
            <button onclick="captionFour()" class="caption-btn">Caption</button>

            <div id="hiddenCaptionFour" class="hidden-caption">
                <img src="http://mj584y2020-dept-mjinternational.cloudapps.unc.edu/images/interactive-top.svg"
                    class="wave">
                <div class="text-bg">
                    <p>
                        Narciso Saqui, 57, and a fellow farmworker work to crack open cacao pods and scrape out the
                        pulp-covered beans within to separate into buckets on Saqui’s farm in Kendal, Belize, on
                        March 11, 2020. Saqui welcomes additional help on the farm. He says it helps give people in
                        his community something to do, and a source of income.
                    </p>
                </div>
            </div>

            <script>
              function captionFour() {
                  var x = document.getElementById("hiddenCaptionFour");
                  if (x.style.display === "none") {
                      x.style.display = "block";
                  } else {
                      x.style.display = "none";
                  }
              }
            </script>

        </section>
        <section class="panel fifteen"> </section>
        <section class="panel sixteen inset">
            <img src="{{ .Site.BaseURL }}photostory-rooted/duong_8.jpg" alt="Avatar"> />
        </section>
        <section class="panel seventeen"> </section>
        <section class="panel eighteen inset">
              <img src="{{ .Site.BaseURL }}photostory-rooted/duong_9.jpg" alt="Avatar"> />
        </section>
        <section class="panel nineteen"> </section>
        <section class="panel twenty">
            <button onclick="captionFive()" class="caption-btn">Caption</button>

            <div id="hiddenCaptionFive" class="hidden-caption">
                <img src="http://mj584y2020-dept-mjinternational.cloudapps.unc.edu/images/interactive-top.svg"
                    class="wave">
                <div class="text-bg">
                    <p>
                        Narciso Saqui, 57, and a fellow farmworker work to crack open cacao pods and scrape out the
                        pulp-covered beans within to separate into buckets on Saqui’s farm in Kendal, Belize, on
                        March 11, 2020. Saqui welcomes additional help on the farm. He says it helps give people in
                        his community something to do, and a source of income.
                    </p>
                </div>
            </div>
            <script>
              function captionFive() {
                  var x = document.getElementById("hiddenCaptionFive");
                  if (x.style.display === "none") {
                      x.style.display = "block";
                  } else {
                      x.style.display = "none";
                  }
              }
            </script>
        </section>
        <section class="panel twenty-one"></section>
        <section class="panel twenty-two"> </section>
        <section class="panel twenty-three"> </section>
        <section class="panel twenty-four inset">
            <img src="{{ .Site.BaseURL }}photostory-rooted/duong_11.jpg" alt="Avatar"> />
        </section>
        <section class="panel twenty-five"> </section>
        <section class="panel twenty-six">
            <button onclick="captionSix()" class="caption-btn">Caption</button>

            <div id="hiddenCaptionSix" class="hidden-caption">
                <img src="http://mj584y2020-dept-mjinternational.cloudapps.unc.edu/images/interactive-top.svg"
                    class="wave">
                <div class="text-bg">
                    <p>
                        Narciso Saqui, 57, and a fellow farmworker work to crack open cacao pods and scrape out the
                        pulp-covered beans within to separate into buckets on Saqui’s farm in Kendal, Belize, on
                        March 11, 2020. Saqui welcomes additional help on the farm. He says it helps give people in
                        his community something to do, and a source of income.
                    </p>
                </div>
            </div>
            <script>
              function captionSix() {
                  var x = document.getElementById("hiddenCaptionSix");
                  if (x.style.display === "none") {
                      x.style.display = "block";
                  } else {
                      x.style.display = "none";
                  }
              }
            </script>
        </section>
        <section class="panel twenty-seven"> </section>
        <section class="panel twenty-eight">
            <button onclick="captionSeven()" class="caption-btn">Caption</button>

            <div id="hiddenCaptionSeven" class="hidden-caption">
                <img src="http://mj584y2020-dept-mjinternational.cloudapps.unc.edu/images/interactive-top.svg"
                    class="wave">
                <div class="text-bg">
                    <p>
                        Narciso Saqui, 57, and a fellow farmworker work to crack open cacao pods and scrape out the
                        pulp-covered beans within to separate into buckets on Saqui’s farm in Kendal, Belize, on
                        March 11, 2020. Saqui welcomes additional help on the farm. He says it helps give people in
                        his community something to do, and a source of income.
                    </p>
                </div>
            </div>
            <script>
              function captionSeven() {
                  var x = document.getElementById("hiddenCaptionSeven");
                  if (x.style.display === "none") {
                      x.style.display = "block";
                  } else {
                      x.style.display = "none";
                  }
              }
            </script>
        </section>
        <section class="panel twenty-nine"> </section>
        <section class="panel thirty inset">
            <img src="{{ .Site.BaseURL }}photostory-rooted/duong_14.jpg" alt="Avatar"> />
        </section>
        <section class="panel thirty-one"></section>
        <section class="panel thirty-two"> </section>
        <section class="panel thirty-three"> </section>
        <section class="panel thirty-four">
            <button onclick="captionEight()" class="caption-btn">Caption</button>

            <div id="hiddenCaptionEight" class="hidden-caption">
                <img src="http://mj584y2020-dept-mjinternational.cloudapps.unc.edu/images/interactive-top.svg"
                    class="wave">
                <div class="text-bg">
                    <p>
                        Narciso Saqui, 57, and a fellow farmworker work to crack open cacao pods and scrape out the
                        pulp-covered beans within to separate into buckets on Saqui’s farm in Kendal, Belize, on
                        March 11, 2020. Saqui welcomes additional help on the farm. He says it helps give people in
                        his community something to do, and a source of income.
                    </p>
                </div>
            </div>
            <script>
              function captionEight() {
                  var x = document.getElementById("hiddenCaptionEight");
                  if (x.style.display === "none") {
                      x.style.display = "block";
                  } else {
                      x.style.display = "none";
                  }
              }
            </script>
        </section>
        <section class="panel thirty-five"> </section>
        <section class="panel thirty-six">
            <button onclick="captionNine()" class="caption-btn">Caption</button>

            <div id="hiddenCaptionNine" class="hidden-caption">
                <img src="http://mj584y2020-dept-mjinternational.cloudapps.unc.edu/images/interactive-top.svg"
                    class="wave">
                <div class="text-bg">
                    <p>
                        Narciso Saqui, 57, and a fellow farmworker work to crack open cacao pods and scrape out the
                        pulp-covered beans within to separate into buckets on Saqui’s farm in Kendal, Belize, on
                        March 11, 2020. Saqui welcomes additional help on the farm. He says it helps give people in
                        his community something to do, and a source of income.
                    </p>
                </div>
            </div>
            <script>
              function captionNine() {
                  var x = document.getElementById("hiddenCaptionNine");
                  if (x.style.display === "none") {
                      x.style.display = "block";
                  } else {
                      x.style.display = "none";
                  }
              }
            </script>
        </section>
        <section class="panel thirty-seven"> </section>
        <section class="panel thirty-eight inset">
            <img src="{{ .Site.BaseURL }}photostory-rooted/duong_17.jpg" alt="Avatar"> />
        </section>
        <section class="panel thirty-nine"> </section>
        <section class="panel forty">
            <button onclick="captionTen()" class="caption-btn">Caption</button>

            <div id="hiddenCaptionTen" class="hidden-caption">
                <img src="http://mj584y2020-dept-mjinternational.cloudapps.unc.edu/images/interactive-top.svg"
                    class="wave">
                <div class="text-bg">
                    <p>
                        Narciso Saqui, 57, and a fellow farmworker work to crack open cacao pods and scrape out the
                        pulp-covered beans within to separate into buckets on Saqui’s farm in Kendal, Belize, on
                        March 11, 2020. Saqui welcomes additional help on the farm. He says it helps give people in
                        his community something to do, and a source of income.
                    </p>
                </div>
            </div>
            <script>
              function captionTen() {
                  var x = document.getElementById("hiddenCaptionTen");
                  if (x.style.display === "none") {
                      x.style.display = "block";
                  } else {
                      x.style.display = "none";
                  }
              }
            </script>
        </section>
        <section class="panel forty-one"></section>
        <section class="panel forty-two"> </section>
        <section class="panel forty-three"> </section>
        <section class="panel forty-four">
            <p class="end"> Photos by Dustin Duong</p>
            <p class="end"> Special Thanks to... </p>
        </section>
    </div>
</div>

<style>

  /*for header*/
  .exit {
    position:absolute;
    right:20px;
    top:20px;
    z-index:1000;
  }

  i {
    color:#fff;
    text-shadow:2px 2px 2px #000;
  }

  .header, .footer, .main-menu-mobile {
    display:none;
  }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    /*for header*/
    #myDIV {
        width: 100%;
        padding: 50px 0;
        text-align: center;
        background-color: lightblue;
        margin-top: 20px;
        display: none;
    }


  /* title card  */
  h1 {
    font-family: "Vollkorn",serif;
    text-shadow: 3px 3px 7px rgba(51,51,51,.95);
    color: #fff;
    font-weight: 900;
    line-height: 1.2em;
    position: relative;
    display: block;
    top: 40%;
    font-size: 3.5rem;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20%;
  }
    /* this is specifically for the svg*/
      .title>img{
        max-width: 30%;
      }

  #pinContainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    color: #777;
    z-index: 0;
  }
  .panel {
    height: 100%;
    width: 100%;
    position: absolute;

  }



  p{
    font-family: "Barlow";
    font-size: 3rem;
    margin: 1rem;
    padding: 5rem;
    text-align: center;
    display: block;
    color: yellow;
  }

  /* captions general */

  .text-bg {
    width: 100%;
    padding: .2rem;
    text-align: left;
    color: #222222;
    font-family: 'Barlow Semi Condensed';
    background-color: #EBEBE6;
    margin-top: 0;
  }

  .hidden-caption {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: none;
    margin: 0;
    padding: 0;
    opacity: 75%;
  }

  .wave {
    margin-bottom: -3%;
    padding: 0;

  }

  .text-bg p {
    font-family: 'Barlow Semi Condensed';
    color: #222222;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 700;
    text-align: left;
    opacity: 100%;
    font-size: 1rem;
    width: 80%;
  }

  /*end card*/
  .end {
    font-family: "Vollkorn",serif;
    text-shadow: 3px 3px 7px rgba(51,51,51,.95);
    color: #f0bd2a;
    font-weight: 900;
    position: relative;
    display: block;
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    padding: 3%;

  }







  /* Panels  [changes for each story]*/
  .inset{
    background-color: rgba(51,51,51,.5);
  }

  .one {
    background-image: url("{{ .Site.BaseURL }}photostory-rooted/duong_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .two{
    background-image: url("{{ .Site.BaseURL }}photostory-rooted/duong_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .four{
    background-image: url("{{ .Site.BaseURL }}photostory-rooted/duong_pullquote1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .six img {
    display: flex;
    flex-direction: left;
    margin-left: auto;
    margin-right: auto;
   width: 40%;
   margin-left: 5%;
   margin-right: 55%;
   height: auto;
   margin-top:10%;
   margin-bottom:25%;
  }

  .eight img{
    display: flex;
    flex-direction: right;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-right: 5%;
    margin-left: 55%;
    height: auto;
    margin-top:10%;
    margin-bottom:25%;
  }

  .ten {
    background-image: url("{{ .Site.BaseURL }}photostory-rooted/duong_6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .twelve {
    background-image: url("assets/Dustin-quote.png") ;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .fourteen{
    background-image: url("{{ .Site.BaseURL }}photostory-rooted/duong_7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sixteen img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .eighteen img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }


  .twenty{
    background-image: url("{{ .Site.BaseURL }}photostory-rooted/duong_10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .twenty-two {
    background-image: url("{{ .Site.BaseURL }}photostory-rooted/duong_pullquote2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .twenty-four img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .twenty-six{
    background-image: url("{{ .Site.BaseURL }}photostory-rooted/duong_12.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .twenty-eight{
    background-image: url("{{ .Site.BaseURL }}photostory-rooted/duong_13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .thirty img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .thirty-two {
    background-image: url("{{ .Site.BaseURL }}photostory-rooted/duong_pullquote2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .thirty-four{
    background-image: url("{{ .Site.BaseURL }}photostory-rooted/duong_15.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .thirty-six{
    background-image: url("{{ .Site.BaseURL }}photostory-rooted/duong_16.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .thirty-eight img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .forty{
    background-image: url("{{ .Site.BaseURL }}photostory-rooted/duong_18.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .forty-two{
    background-image: url("{{ .Site.BaseURL }}photostory-rooted/duong_pullquote2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

{{ end }}
