{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-pages-single story-{{ .Params.weight }} {{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
    <div id="pinMaster">
      <div class="exit">
       <a href="#" onclick="history.back(-1)"><i class="fa fa-times-circle fa-2x"></i></a>
      </div>
        <div id="pinContainer">
              <section class="panel one">
                  <h2>Portraits of Belize</h2>
              </section>
              <section class="panel two">
              </section>
              <section class="panel three">
                  <img src="{{ .Site.BaseURL }}photostory-elders/sartin_3.jpg" alt="Avatar"> />
              </section>
              <section class="panel four">
              </section>
              <section class="panel five">
                  <img src="{{ .Site.BaseURL }}photostory-elders/sartin_5.jpg" alt="Avatar"> />
              </section>
              <section class="panel six">
              </section>
              <section class="panel seven">
                  <img src="{{ .Site.BaseURL }}photostory-elders/sartin_7.jpg" alt="Avatar"> />
              </section>
              <section class="panel eight">
                  <img src="{{ .Site.BaseURL }}photostory-elders/sartin_8.jpg" alt="Avatar"> />
              </section>
              <section class="panel nine"></section>
              <section class="panel ten">
                  <img src="{{ .Site.BaseURL }}photostory-elders/sartin_10.jpg" alt="Avatar"> />
              </section>
              <section class="panel eleven"></section>
              <section class="panel twelve">
                  <img src="{{ .Site.BaseURL }}photostory-elders/sartin_12.jpg" alt="Avatar"> />
              </section>
              <section class="panel thirteen"></section>
              <section class="panel fourteen"></section>
        </div>
    </div>

<style>
.header, .footer {
  display:none;
}
#myModal {
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #f0f0ee;
}

#pinContainer {
          width: 100%;
          height: 100vh;
          overflow: hidden;
          position: relative;
          color: #777;
        }

.panel {
          height: 100%;
          width: 100%;
          position: absolute;
        }

#pinMaster {
          position: relative;
        }

p {
          font-family: "Barlow";
          font-size: 3rem;
          margin: 1rem;
          padding: 5rem;
          text-align: center;
          display: block;
        }

.one {
            font-family: "Barlow";
            background-image: url("{{ .Site.BaseURL }}photostory-elders/sartin_1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-color:black;
        }

.one h2 {
  font-size: 32px;
  color: white;
  position: relative;
  display: block;
  top: 40%;
  text-align: center;
  text-transform: uppercase;
  font-family: "Vollkorn";
}


.two {
          background-image: url("{{ .Site.BaseURL }}photostory-elders/sartin_2.jpg");
          background-repeat: no-repeat;
          background-size: cover;
        }

.three img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          height: 70vh;
          margin-top: 15vh;
          margin-bottom: 15vh;
        }

.four {
          background-image: url("{{ .Site.BaseURL }}photostory-elders/sartin_4.jpg");
          background-repeat: no-repeat;
          background-size: cover;
        }


.five img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          height: 70vh;
          margin-top: 15vh;
          margin-bottom: 15vh;
        }

.six {
          background-image: url("{{ .Site.BaseURL }}photostory-elders/sartin_6.jpg");
          background-repeat: no-repeat;
          background-size: cover;
        }

.seven img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          height: 70vh;
          margin-top: 15vh;
          margin-bottom: 15vh;
        }

.eight img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          height: 70vh;
          margin-top: 15vh;
          margin-bottom: 15vh;
        }

.nine {
          background-image: url("{{ .Site.BaseURL }}photostory-elders/sartin_9.jpg");
          background-repeat: no-repeat;
          background-size: cover;
        }
.ten img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          height: 90vh;
          margin-top: 5vh;
          margin-bottom: 5vh;
        }

.eleven {
          background-image: url("{{ .Site.BaseURL }}photostory-elders/sartin_11.jpg");
          background-repeat: no-repeat;
          background-size: cover;
        }
.twelve img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          height: 70vh;
          margin-top: 15vh;
          margin-bottom: 15vh;
        }
.thirteen {
          background-image: url("{{ .Site.BaseURL }}photostory-elders/sartin_13.jpg");
          background-repeat: no-repeat;
          background-size: cover;
        }
.fourteen {
          background-image: url("{{ .Site.BaseURL }}photostory-elders/sartin_14.jpg");
          background-repeat: no-repeat;
          background-size: cover;
        }
</style>
{{ end }}
