{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-pages-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<div class="story-page" style="margin-top:60px;">
  <section class="story-hero">
    <div class="story-title">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="story-meta">
      <h2>{{ .Params.topic }}</h2>
      <h3>{{ .Params.photographer }}</h3>
    </div>
  </section>

  <section class="story-content">
    {{ .Content }}
  </section>


</div>
{{ end }}
