{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-pages-single story-{{ .Params.weight }} {{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}


<div class="story-page">
  <section class="story-hero">
    <div class="herocontent">
      <div class="story-title">
        <h1>{{ .Title }}</h1>

        <div class="icon-line">
          <div class="horizontal-line"></div>
          <div class="storyicon"><img src="../images/story-icon.png"></div>
          <div class="horizontal-line"></div>
        </div>

        <div class="intro1">
          {{ .Params.storySubheading }}
        </div>
      </div>
    </div>

    <div class="byline">
      <div class="byline1">
        <b>REPORTER</b>

        <p>Drew Westmoreland</p>
      </div>
      <div class="byline2">
        <b>PHOTO/VIDEO</b>
        <p>{{ .Params.photographer }}</p>
        <p>Alicia Carter</p>
      </div>
      <div class="byline3">
        <b>INTERACTIVE</b>
        <p>Taylor Tyson</p>
      </div>

    </div>
  </section>



  <section class="story-content">
    {{ .Content }}
  </section>

  <!-- This is the other stories at the bottom of the page -->
  <div class="outer-card">
  {{ range .Pages }}
    <div class="inner-card show {{ .Params.group }}">
      <span class="image-card">
        {{ with .Resources.ByType "image" }}
          {{ range . }}
          <img src="{{ .RelPermalink }}" class="image" alt="{{ .Params.name }}">
        {{ end }}
        {{ end }}
      </span>
      <span class="title">
        <p>{{ .Params.title }}</p>
      </span>
      <span class="group">
        <p>{{ .Params.group }}</p>
      </span>
    </div>
  {{ end }}
  </div>

</div>

{{ end }}
