.aboutcontent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}

.aboutcontainer {
  margin-bottom: 5%;
}
#AboutFilter {
  display:flex;
  align-items: center;
  justify-content: center;
}
#AboutFilter button {
  border:none;
  margin: 1em;
  font-family: $font-family-heading;
  font-size: 1.4em;
}
/* Add a light grey background on mouse-over */
#AboutFilter .btn:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
#AboutFilter .btn:hover:after {
	width: 100%;
	background: $primary;
}
.outer-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.inner-card {
  display: none;
  flex-wrap: wrap;
  margin: 30px;
}

.show {
    display: flex;
}

.image {
  width: 300px;
}
