.about-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-image {
  height:100vh;
  background-position: center center;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  position:inherit;
  margin-top: -70px;
  z-index: -1;
}

.herocontent {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image {
  background-image: url('../images/story1-hero.jpg');
}

#AboutFilter {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25%;
}

#AboutFilter button {
  border: none;
  margin: 1em;
  font-family: $font-family-heading;
  font-size: 1.4em;
}

/* Add a light grey background on mouse-over */
#AboutFilter .btn:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

#AboutFilter .btn:hover:after {
	width: 100%;
	background: $primary;
}

#AboutFilter .btn.activesort:after {
  width: 100%;
	background: $primary;
}

.outer-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.inner-card {
  display: none;
  flex-wrap: wrap;
  margin: 2%;
  position: relative;
}

.about-overlay{
  font-family: $font-family-heading;
  color: $white;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  padding:5%;
}

.inner-card.Reporting .about-overlay {
  background: url('../wave/Blue-Wave.svg');
  color:$black;
}

.inner-card.Interactive .about-overlay {
  background: url('../wave/Yellow-Wave.svg');
  color:$black;
}

.inner-card.Photo .about-overlay {
  background: url('../wave/Orange-Wave.svg');
  color:$black;
}

.inner-card.Coaches .about-overlay {
  background: url('../wave/Green-Wave.svg');
  color:$black;
}

.about-overlay i {
  float: right;
  line-height: 1.75em;
}

.about-overlay-hover {
  display: none;
  transition-timing-function: ease-in;
}

.about-overlay p {
  margin: 0;
}

.about-overlay .name {
 font-size: 1.5em;
}

.about-overlay .group {
 font-size: 1.2em;
 margin-top: -15px;
 font-style: oblique;
 margin-bottom: 2%;
}

.about-overlay .about {
  font-size: 1.3em;
  line-height: 100%;
  margin-bottom: 2%;
}

.about-overlay .portfolio {
  margin-bottom: 5%;
}

.show {
    display: flex;
    flex-direction: column;
}

.image {
  width: 350px;
}
