.explainer-container {
  background: #222222;
  text-align: center;
  padding: 5%;
  p {
    color: white;
    line-height: 1.5em;
  }
  div {
    padding:2%;
  }
}

.explainer-text {
  @media(max-width: 768px) {
    padding: 10px 60px;
  }
}
.explainer-video video {
  width: 60%;
  @media(max-width: 768px) {
    width: 100%;
  }
}
