.homewave-top {
  background-image: url('../images/homewave-top.svg');
  background-size: cover;
  height:100px;
  width: 100%;
  margin-bottom: -5px;
  margin-top:-100px;
  z-index:1000;
  @media(max-width: 800px) {
    margin-top:-50px;
    position:absolute;
  }
}
.homewave-bottom {
  background-image: url('../images/homewave-bottom.svg');
  background-size: cover;
  height:170px;
  width: 100%;
  z-index:1000;
}
.explainer-container {
  padding: 40px 20%;
  background-color:#222;
  width:100%;
  align-items: center;
  @media(max-width: 800px) {
    margin:0;
    padding: 40px 5%;
    height:auto;
  }
  p {
    color: white;
    padding: 40px;
    margin:0;
    text-align:center;
    line-height: 1.3em;
    font-size:1.3em;
  }
}


.home-nav {
  text-align:center;
  padding:40px 5% 5% 5%;

  .cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    width:100%;
    div {
      background-repeat: no-repeat;
      background-size:cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    div:before {
      content: "";
      display: block;
      height: 0;
      width: 0;
      padding-bottom: calc(38/57 * 100%);
    }
    @media(max-width: 768px) {
      display: flex;
      flex-direction: column;
      div {
        background-image:none!important;
        padding-bottom: 2em;
      }
      div:before {
        padding-bottom:0;
      }
    }
    a {
    font-family: $font-family-heading;
    font-weight: 600;
    font-size:1.4em;
    color: $white;
    text-decoration: none;
    position:relative;
    @media(max-width: 768px) {
      color: $black;
      }
    }

    a:after {
      bottom: -10px;
      content: "";
      display: block;
      height: 3px;
      left: 50%;
      position: absolute;
      background: $white;
      transition: width 0.5s ease 0s, left 0.5s ease 0s;
      width: 0;
      @media(max-width: 1000px) {
        background: $black;
        }
    }
    a:hover:after {
      width: 100%;
      left: 0;
    }
  }
  h1 {
    font-size:50px;
    font-family: $bodyfont;
  }
  .heading-underline {
    max-width: 200px;
    margin-bottom: 30px;
  }
}
