#mobile-photostory {
  display: none;
}

  .photostory-mobile-title{
    display: none;
  }

.mobile-endcard-itms {
    display: none;
}
.photoinstructions {
  font-style: italic;
  padding: 20px;
  margin:auto;
  font-size:1.3em;
  color:#fff;
  text-shadow: 2px 2px 2px #000;
  font-family:$headingfont;
  text-align: center;
  i {
    margin-top:20px;
  }
}
#pinMaster {
  .exit {
    position:absolute;
    right:20px;
    top:20px;
    z-index:1000;
  }

  i {
    color:#fff;
    text-shadow:2px 2px 2px #000;
  }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    /*global endcard styling*/
    .endcard{
      background-color: black;
      margin: auto;
      text-align: left;
    }

    .endcard-itms{
      margin: auto;
      height: 50vh;
      padding-top: 25vh;
    }

    .endcard-itms > p {
      padding: 5px 10px 10px 0;
      color: #fff;
      text-decoration: none;
      font-size: 1.5rem;
      font-family: 'Barlow Semi Condensed',sans-serif;
      line-height: 2rem;
      font-weight: 100;
    }

    .endcard-btn{
      border: 1px solid #fff;
      padding: 2% 5%;
      margin-top: 500px;
      background-color: transparent;
      color: #fff;
      text-decoration: none;
      font-size: 1.4rem;
      font-family: 'Barlow Semi Condensed',sans-serif;
      text-transform: uppercase;
      font-weight: 100;
    }

    .endcard-btn:hover{
      background-color: #2ea294;
      font-weight: 300;
    }

}
    /*for header*/
    #myDIV {
        width: 100%;
        padding: 50px 0;
        text-align: center;
        background-color: lightblue;
        margin-top: 20px;
        display: none;
    }


  /* FOR PHOTOSTORIES */
  .title h1 {
    font-family: "Vollkorn",serif;
    text-shadow: 3px 3px 7px rgba(51,51,51,.95);
    color: #fff;
    font-weight: 900;
    line-height: 1.2em;
    position: relative;
    display: block;
    top: 40%;
    font-size: 3.5rem;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20%;
  }
    /* this is specifically for the svg*/
      .title>img{
        max-width: 30%;
      }

  #pinContainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    color: #777;
    z-index: 0;
  }

  .panel {
    height: 100%;
    width: 100%;
    position: absolute;
  }

@media (max-width: 800px) {
  #pinMaster {
    display: none;
  }


  #mobile-photostory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;

    img {
      max-width: 100%;
      margin: 10px auto;
    }

    p {
      line-height: 1.1em;
      margin: 25px auto;
    }

  }

  .photostory-mobile-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;

    h1 {
      font-family: "Vollkorn", serif;
      color: $white;
      font-size: 3rem;
    }
  }

  .photostory1{
      background-image: url('../photostory-generations/Inset-1.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 300px;
  }

  .photostory2{
      background-image: url('../photostory-fishers/FishingGeneration-1.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 300px;
  }

  .photostory3{
      background-image: url('../photostory-rooted/duong_1.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 300px;
  }

  .photostory4{
      background-image: url('../photostory-elders/Sartin_VillageElders_01.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 300px;
  }

  .photostory5{
      background-image: url('../photostory-weeds/Seaweed-1.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 300px;
  }

  .photostory6{
      background-image: url('../photostory-beauty/DelicateBalance_1.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 300px;
  }

  .mobile-endcard-itms {
    background-image: url('../images/mobile-footer-wave.svg');
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .endcard-itms {
      margin-right: 5%;
      margin-left: 5%;

      p {
        color: $white;
        font-weight: 600;
        font-family: 'Barlow Semi Condensed',sans-serif;
      }

      .endcard-btn{
        border: 1px solid #fff;
        padding: 2% 4%;
        background-color: transparent;
        color: #fff;
        text-decoration: none;
        font-size: 1.4rem;
        font-family: 'Barlow Semi Condensed',sans-serif;
        text-transform: uppercase;
        font-weight: 100;
      }

      .endcard-txt-thanks {
        line-height: 1em;
        margin-bottom: 40px;
        font-weight: 200;
      }
    }
  }
}
