.story-1 .story-hero {
  background-image: url('https://aftermath.unc.edu/assets/images/water-hero.jpg');
}
.story-2 .story-hero {
  background-image: url('../images/story2-hero.png');
}
.story-3 .story-hero {
  background-image: url('../images/cacao.jpg');
}
.story-4 .story-hero {
  background-image: url('https://aftermath.unc.edu/assets/images/ecology-hero.jpg');
}
.story-5 .story-hero {
  background-image: url('../images/story2-hero.png');
}
.notfound .story-hero {
  background-image: url('../images/notfound.jpg');
}
.story-hero {
  height:100vh;
  background-position: center center;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  position:inherit;
  margin-top: -70px;
}

.herocontent {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width:300px;
  }
}

.byline {
  background-image:url('../images/byline-wave.svg');
  width:100%;
  height:400px;
  position:absolute;
  bottom: -275px;
  display:flex;
  align-items:flex-start;
  justify-content: space-around;
  padding: 10% 20%;
}

.story-title {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .horizontal-line {
    width:100%;
    position:relative;
    margin:15px;
    border-bottom:1px solid $white;
  }
}

.story-content {
  margin: 20% 20%;
  @media(max-width: 992px) {
    // margin-top: 30%;
  }
}

/* START OF STORY NAV */
.story-page-image {
  max-width: 100%;
  @media(max-width: 768px) {
    display: none;
  }
}

.story-card {
  position: relative;
  display: inline-block;
  margin: 1%;
}

.story-card img {
  display: block;
}

.story-nav {
  padding: 2%;
  margin: 2%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media(max-width: 768px) {
    padding: 25px;
  }
}

/* This is the links within the story nav */

.story-card p a {
position: absolute;
top: 50%;
left: 0;
right: 0;
padding-left: 5%;
transform: translate(0, -50%);
font-family: $font-family-heading;
font-weight: 800;
margin: 0 2em;
color: $white;
text-decoration: none;
text-align: center;
line-height: 1.3em;
}

.story-card p a:after {
  bottom: -10px;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: $white;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}
.story-card p a:hover:after {
  width: 100%;
  left: 0;
}

.story-content p:first-of-type:first-letter{
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 10px;
  padding-right: 8px;
  padding-left: 3px;
  color: $primary;
}

.photo-image img{
  width: 100vw;
  height: 100vh;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
