.story-1 .story-hero {
  background-image: url('../images/story1-hero.jpg');
}
.story-2 .story-hero {
  background-image: url('../images/story2-hero.png');
}
.story-3 .story-hero {
  background-image: url('https://aftermath.unc.edu/assets/images/water-hero.jpg');
}
.story-4 .story-hero {
  background-image: url('https://aftermath.unc.edu/assets/images/ecology-hero.jpg');
}
.story-5 .story-hero {
  background-image: url('../images/story2-hero.png');
}
.story-hero {
  height:100vh;
  background-position: center center;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  position:inherit;
  margin-top: -70px;
}
.herocontent {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.byline {
  background-image:url('../images/byline-wave.svg');
  width:100%;
  height:400px;
  position:absolute;
  bottom: -300px;
  display:flex;
  align-items:flex-start;
  justify-content: space-around;
  padding: 10% 20%;
}
.story-title {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .horizontal-line {
    width:100%;
    position:relative;
    margin:15px;
    border-bottom:1px solid $white;
  }
}
.story-content {
  margin: 10% 20%;
  @media(max-width: 768px) {
      margin: 8%;
  }
}
