.footer {
  background-image: url('../images/footer-wave.svg');
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  height: 100%;
  @media(max-width: 1200px) {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

.social-footer {
  a {
    color: white;
    text-decoration: none;
    padding: 8px;
  }
}
