.header {
  color: #ffffff;
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;


.header img {
  width: 100%;
}

  .header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}


.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}

@media only screen and (min-width: 768px) {
  #toggle-main-menu-mobile {
    display: none;
  }
}

.svg-bottom svg {
  position: absolute;
}

.social-header {
  .fa {
    padding: 5px;
  }
  a {
    color: white;
  }
}
