.header {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;



.header img {
  width: 100%;
}

  .header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}

.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}

@media only screen and (min-width: 768px) {
  #toggle-main-menu-mobile {
    display: none;
  }
}

.svg-bottom svg {
  position: absolute;
}

.social-header {
  .fa {
    padding: 5px;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

.header-about {
  border-left: 1px solid white;
  padding: 5px;
  p {
    font-size: 3px;
  }
}
