.myVideo {
  width: 100%;
  height: auto;
  z-index: -1;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home-text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  padding: 15% 5% 5% 5%;
}
