h1, h2, h3, h4, h5, h6 {
  font-family: $headingfont;
  color: $black;
  line-height: 1.2em;
}

h1 {
  font-size: 40px;
  font-weight: $font-weight-black;
  //Need to revisit Breakpoints
  @include media-breakpoint-up(md) {
    font-size: 80px;
  }
}
h2 {
  font-size: 36px;
  font-weight: $font-weight-bold;
}
h3 {
  font-size: 24px;
  font-weight: $font-weight-bold;
}
h4 {

}
h5 { //This is the Secondary Navigation, credits font
  color: $white;
  font-weight: $font-weight-thin;
  line-height: 1.5em;
  font-size: 1.1em;
  &.bold {
    text-transform: uppercase;
    font-weight: $font-weight-normal;
  }
}
// STORY PAGE SPECIFIC FONTS
.story-title h1, .hero-intro {
  font-family: $bodyfont;
  text-shadow: 3px 3px 7px $text-shadow;
  color:$white;
}
.hero-intro {
  font-size:1.5em;
  padding:1em;
}
