.interactive-section {
  background-color: $story-gray;
  background-size: cover;
  padding: 5% 10%;
  text-align: center;
  left: 50%;
  right: 50%;
  margin: 30px -50vw;
  max-width: 100vw;
  position: relative;
  width: 99vw;

  h2 {
    font-family: $bodyfont;

  }
  .heading-underline {
    max-width: 300px;
    margin-top: 20px;
  }
  // .underline-image {
  //   border-bottom: 10px solid transparent;
  //   border-image: url("/images/yellow-underline-left.svg") 27 space;
  //   padding-bottom:15px;
  // }
}
.dark {
  background-color: $black;
  h2, p {
    color:$white;
  }
}
