.interactive-section {
  padding: 0 10%;
  background-color: $story-gray;
  width: 100%;
  margin:0 auto;
  text-align: center;
  overflow:hidden;
  @media(max-width: 800px) {
    padding:0 5%;
  }
  h2 {
    font-family: $bodyfont;

  }
  .heading-underline {
    max-width: 300px;
    margin-top: 5px;
  }
  p {
    line-height:1.3em;
    font-size:1.2em;
    margin-top:0;
  }
}
.dark {
  background-color: #000;
  h2, p {
    color:$white;
  }
}
.interactive-top {
  background-image: url('../images/interactive-top.svg');
  background-size: cover;
  height:100px;
  width: 100%;
  margin-bottom: -5px;
  margin-top:40px;
}

.interactive-bottom {
  background-image: url('../images/interactive-bottom.svg');
  background-size: cover;
  margin-top: -20px;
  height:110px;
  width: 100%;
  margin-bottom: 40px;
}

.interactive-top-dark {
  background-image: url('../images/interactive-black-top.svg');
  background-size: cover;
  height:100px;
  width: 100%;
  margin-bottom: -5px;
  margin-top:40px;
}

.interactive-bottom-dark {
  background-image: url('../images/interactive-black-bottom.svg');
  background-size: cover;
  height:120px;
  width: 100%;
  margin-bottom: 40px;
  margin-top: -1px;
}
.instructions {
   color: $grey;
   font-style: italic;
}
