<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ block "meta_tags" . }}{{end}}
  <link rel="icon" href="{{ .Site.BaseURL }}favicon.png">

  {{ if .Site.IsServer }}
  {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
  <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
  {{ else }}
  {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
  <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
  {{ end }}

  {{ block "header_css" . }}{{ end }}

  <!--jQuery-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>

<body class='page {{ block "body_classes" . }}{{ end }}'>

  <div id="main-menu-mobile" class="main-menu-mobile">
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
        <a href="{{.URL}}">
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>
      </li>
      {{end}}
    </ul>
  </div>

  <div id="wrapper" class="wrapper">
    {{ partial "header.html" . }}
    {{ block "main" . }}
    {{ end }}
  </div>


    <!--GSAP-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>

    <!--scroll magic-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.min.js"></script>

    <!--intersection observer-->
    <script src='https://unpkg.com/intersection-observer@0.5.0/intersection-observer.js'></script>

    <!--start of the scripts block-->
    <!--If you add a new JS file in /assets/js then you need to include it here!  Don't forget to add it to the Bundle line.  There are several steps:
      1.  Create the JS
      2.  Add a resources.Get line below
      3.  Add the new $variable to the $bundle line
      4.  Eventually, we can create an if/then to only load the JS on pages where it is executed.
    -->

    {{ block "scripts" . }}

    {{ $scripts := resources.Get "js/scripts.js" }}
    {{ $video := resources.Get "js/video.js" }}
    {{ $aboutsort := resources.Get "js/aboutsort.js" }}
    {{ $bundle := slice $scripts $video $aboutsort | resources.Concat "js/bundle.js" }}


    {{ if .Site.IsServer }}
    <script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>
    {{ else }}
    <script type="text/javascript" src="{{ ($bundle | minify | fingerprint).RelPermalink }}"></script>
    {{ end }}

    {{ end }}
    <!--end of the scripts block-->

  {{ partial "footer.html" . }}


  {{ block "footer_js" . }}
  {{ end }}


</body>
</html>
