{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-pages-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<div class="container" style="margin-top:100px;">
  <p>The layout is in layout/about/about.html</p>

  </div>

<section class="about-grid">

  <div class="column">
    <div class="column-content">
    <img src="../images/goat.jpg" class="profile-image">
    <h3 class="about-name about-portion">Halynna Snyder</h3>
    <p class="role about-portion">Developer</p>
    <p class="description about-portion">Here's something cute I can say about me</p>
    </div>
  </div>

  <div class="column">
    <div class="column-content">
    <img src="../images/goat.jpg" class="profile-image">
    <h3 class="about-name about-portion">Meg Mcmahon</h3>
    <p class="role about-portion">Developer</p>
    <p class="description about-portion">Here's something cute someone can say about them</p>
    </div>
  </div>

</section>


{{ end }}
