
<div class="footer">
  <div class="logo">
    <a href="{{ .Site.BaseURL }}"><img alt="Figurit Homepage" src="{{ .Site.BaseURL }}images/barriers-logo.svg" width="200px" /></a>
  </div>

  <div class="social-footer">
    <a href="https://www.instagram.com/uncglobalstory/"><i class="fa fa-instagram fa-2x"></i></a>
    <a href="https://twitter.com/UNCglobalstory"><i class="fa fa-twitter fa-2x"></i></a>
    <a href="https://www.facebook.com/uncglobalstory/"><i class="fa fa-facebook fa-2x"></i></a>
    <a href="/about" class="header-about">ABOUT</a> </div>

</div>
