<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1918.92 80"><defs><style>.cls-1{fill:#222;}</style></defs><title>Footer Wave</title><path class="cls-1" d="M1919.46,870.85V1080H.54V855.61c136.25-14.87,276.31-22.45,417.1-16.78,210.85,8.49,405.21,46,612.74,62.23C1325.71,924.15,1626.53,903.17,1919.46,870.85Z" transform="translate(-0.54 -836.95)"/></svg>

<div class="footer">
  <div class="logo">
    <a href="{{ .Site.BaseURL }}"><img alt="Figurit Homepage" src="{{ .Site.BaseURL }}images/BarriersLogo.svg" width="100px" /></a>
  </div>
</div>
