<div class='header header-absolute'>

    <div class="logo">
      <a href="{{ .Site.BaseURL }}"><img alt="Barriers" src="{{ .Site.BaseURL }}images/barriers-logo.svg" type="svg" width="175px"/></a>
    </div>

    <input class="menu-btn toggle-main-menu-mobile checkbox" type="checkbox" id="menu-btn">
    <label class="menu-icon toggle-main-menu-mobile menu-btn" for="menu-btn"><span class="navicon toggle-main-menu-mobile"></span></label>

    <div id="main-menu" class="main-menu main-menu-push">
      <ul>
        <li class="menu-item">
          <a href="/story01/">The Cost of Chocolate</a>
        </li>
        <li class="menu-item">
          <a href="/story02/">A Village Endangered</a>
        </li>
        <li class="menu-item">
          <a href="/story03/">Monitoring Manatees</a>
        </li>
        <li class="menu-item">
          <a href="/story04/">Tangled Up</a>
        </li>
        <li class="menu-item">
          <a href="/story05/">The Dirty Side of Tourism</a>
        </li>
      </ul>
    </div>

      <!-- <ul class="menu">
          <li><a href="https://www.instagram.com/uncglobalstory/"><i class="fa fa-instagram fa-lg"></i></a></li>
          <li><a href="https://twitter.com/UNCglobalstory"><i class="fa fa-twitter fa-lg"></i></a></li>
          <li><a href="https://www.facebook.com/uncglobalstory/"><i class="fa fa-facebook fa-lg"></i></a></li>
          <li><a href="/about" class="header-about">ABOUT</a></li>
      </ul> -->

    <div class="social-header menu-btn" id="social-header">
      <a href="https://www.instagram.com/uncglobalstory/"><i class="fa fa-instagram fa-lg"></i></a>
      <a href="https://twitter.com/UNCglobalstory"><i class="fa fa-twitter fa-lg"></i></a>
      <a href="https://www.facebook.com/uncglobalstory/"><i class="fa fa-facebook fa-lg"></i></a>
      <a href="/about" class="header-about">ABOUT</a>
    </div>

    <!-- <button class="toggle-main-menu-mobile" type="button">
    </button> -->

</div>
