<div class='header header-absolute'>

    <div class="logo">
      <a href="{{ .Site.BaseURL }}"><img alt="Barriers" src="{{ .Site.BaseURL }}images/BarriersLogo.svg" type="svg" width="50px"/></a>
    </div>

    <div id="main-menu" class="main-menu main-menu-push">
      <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
          <a href="{{.URL}}">
            {{ .Pre }}
            <span>{{ .Name }}</span>
          </a>
        </li>
        {{end}}
      </ul>
    </div>

    <div class="social-header">
      <p>socials</p>
      </div>

    <button id="toggle-main-menu-mobile" type="button">
    </button>
</div>
<div class="svgbottom">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#222222" fill-opacity="1" d="M0,192L48,197.3C96,203,192,213,288,208C384,203,480,181,576,170.7C672,160,768,160,864,154.7C960,149,1056,139,1152,138.7C1248,139,1344,149,1392,154.7L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
  </svg>
</div>
