
<div class="flex-column">
    <!-- The video -->
    <video autoplay muted class="myVideo">
      <source src="{{ .Site.BaseURL }}images/movie.mp4" type="video/mp4">
    </video>
    <!-- mobile background -->
    <div class="mobile-background">
      <a href="{{ .Site.BaseURL }}"><img alt="Waterfall" class="mobile-image" src="{{ .Site.BaseURL }}images/mobile-background.jpg"/></a>
    </div>

  <div class="flex-column" id="home-text-container">
    <h1 class="homepage-title">{{ .heading }}</h1>
    <p class="">{{ .subheading }}</p>
  </div>

  <svg class="explainer-top-wave" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1919.11 137.35"><defs><style>.cls-1{fill:#222222;}</style></defs><title>Top Wave</title><path class="cls-1" d="M1919.55,519.14v89.53H.45V554.75c264.7-81.25,426.08-91.47,650.65-79,182.86,10.16,351.43,55,531.43,74.45C1427.22,576.57,1676.28,554.85,1919.55,519.14Z" transform="translate(-0.45 -471.33)"/></svg>

  <section class="explainer-container">
    <div class="explainer-content">
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
    <div class="explainer-content">
    <h3>this is where the explainer video would go</h3>
    </div>
  </section>

  <svg class="explainer-bottom-wave" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1919.8 182.15"><defs><style>.cls-1{fill:#222;}</style></defs><title>Bottom Wave Home Page</title><path class="cls-1" d="M1918.19,455.13v87.25c-40.49-29.89-109.14-42.24-171.22-38.05-74.15,5-142,28.58-209,50.05-159.5,51.08-334,93.26-510.26,80.65-142-10.15-272.83-55-412.56-74.44-204.93-28.46-413.79-.94-616.72,39.73V455.13Z" transform="translate(1.61 -455.13)"/></svg>

  <section class="home-stories">
    <div class="story1-card home-card">1</div>
    <div class="story2-card home-card">2</div>
    <div class="story3-card home-card">3</div>
    <div class="story4-card home-card">4</div>
    <div class="story5-card home-card">5</div>
  </section>

</div>

  {{ .Site.BaseURL }}
