
<section class="story-nav animated slideInUp">
  <h2>More from Barriers</h2>
  <img src="../images/yellow-underline-left.svg" class="heading-underline">
  <div class="cards">
    <div class="story-card" style="background-image:url(../home-nav/water.jpg);">
      <a href="/coral/">Coral in the Crossfire</a>
    </div>
    <div class="story-card" style="background-image:url(../home-nav/tourism.jpg);">
      <a href="/tourism/">Controversy on Deck</a>
    </div>
    <div class="story-card" style="background-image:url(../home-nav/cacao.jpg);">
      <a href="/culture/">Bittersweet</a>
    </div>
    <div class="story-card" style="background-image:url(../home-nav/trash.jpg);">
      <a href="/waste/">Tide to Trash</a>
    </div>
    <div class="story-card" style="background-image:url(../home-nav/seaweed.jpg);">
      <a href="/seaweed/">Seeding the Sea</a>
    </div>
</div>
</section>
