
<section class="story-nav">
  <h2>More from Barriers</h2>
  <div class="cards">
    <div class="story-card" style="background-image:url(../story-nav/marine.jpg);">
      <a href="/water/">Threatened Water</a>
    </div>
    <div class="story-card" style="background-image:url(../story-nav/tourism.jpg);">
      <a href="/tourism/">Monkey River</a>
    </div>
    <div class="story-card" style="background-image:url(../story-nav/cacao.jpg);">
      <a href="/culture/">Bitter And Sweet</a>
    </div>
    <div class="story-card" style="background-image:url(../story-nav/waste.jpg);">
      <a href="/waste/">Tide To Trash</a>
    </div>
    <div class="story-card" style="background-image:url(../story-nav/seaweed.jpg);">
      <a href="/seaweed/">Seeding The Sea</a>
    </div>
</div>
</section>
