<style>
  * {box-sizing:border-box}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slideshow-container.mobile {
  max-width: 800px;
}
/* Hide the images by default */
.mySlides, .mobileSlides {
  display: none;
  display:flex;
  align-items:center;
  justify-content:space-around;
  flex-direction:row;
  padding:0 10%;
}
.mySlides img {
  max-width:1000px;
}
.mobileSlides img {
  max-width:100%;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: #fff;
  width: auto;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev {
    left:0;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
i:hover {
  color: #2ea395;
}

/* The dots/bullets/indicators */
.dot, .dotmobile {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: transparent;
  border:1px solid white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
.process {
  font-size:.8em;
  text-align:left;
}
.mobile {
  display:none;
}
@media (max-width:800px) {
  .mobile {display:block;}
  .desktop {display:none;}
}
</style>

<!-- Slideshow container --><!-- DESKTOP VERSION -->
<div class="slideshow-container desktop">
  <div class="mySlides titlecard">
      <img src="/chocolate/TitleCard.gif">
  </div>

  <div class="mySlides">
      <img src="/chocolate/01-Harvest.gif">
  </div>

  <div class="mySlides">
    <img src="/chocolate/02-Cracking.gif">
  </div>

  <div class="mySlides">
    <img src="/chocolate/03-Fermentation.gif">
  </div>

  <div class="mySlides">
    <img src="/chocolate/04-Drying.gif">
  </div>

  <div class="mySlides">
    <img src="/chocolate/05-Roasting.gif">
  </div>

  <div class="mySlides">
    <img src="/chocolate/06-Cracking.gif">
  </div>

  <div class="mySlides">
    <img src="/chocolate/07-Winnowing.gif">
  </div>

  <div class="mySlides">
    <img src="/chocolate/08-Grinding.gif">
  </div>

  <div class="mySlides">
    <img src="/chocolate/09-Spinning.gif">
  </div>

  <div class="mySlides">
    <img src="/chocolate/10-Molding.gif">
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)"><i class="fa fa-angle-left fa-3x"></i></a>
  <a class="next" onclick="plusSlides(1)"><i class="fa fa-angle-right fa-3x"></i></a>
</div>

<!-- MOBILE VERSION -->
<div class="slideshow-container mobile">
  <div class="mobileSlides titlecard">
      <img src="/chocolate/TITLE-STILL.png">
  </div>

  <div class="mobileSlides">
      <img src="/chocolate/01-STILL.png">
  </div>

  <div class="mobileSlides">
    <img src="/chocolate/02-STILL.png">
  </div>

  <div class="mobileSlides">
    <img src="/chocolate/03-STILL.png">
  </div>

  <div class="mobileSlides">
    <img src="/chocolate/04-STILL.png">
  </div>

  <div class="mobileSlides">
    <img src="/chocolate/05-STILL.png">
  </div>

  <div class="mobileSlides">
    <img src="/chocolate/06-STILL.png">
  </div>

  <div class="mobileSlides">
    <img src="/chocolate/07-STILL.png">
  </div>

  <div class="mobileSlides">
    <img src="/chocolate/08-STILL.png">
  </div>

  <div class="mobileSlides">
    <img src="/chocolate/09-STILL.png">
  </div>

  <div class="mobileSlides">
    <img src="/chocolate/10-STILL.png">
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlidesMobile(-1)"><i class="fa fa-angle-left fa-3x"></i></a>
  <a class="next" onclick="plusSlidesMobile(1)"><i class="fa fa-angle-right fa-3x"></i></a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center" class="desktop">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span>
  <span class="dot" onclick="currentSlide(8)"></span>
  <span class="dot" onclick="currentSlide(9)"></span>
  <span class="dot" onclick="currentSlide(10)"></span>
  <span class="dot" onclick="currentSlide(11)"></span>
</div>

<!-- The dots/circles -->
<div style="text-align:center" class="mobile">
  <span class="dotmobile" onclick="currentSlide(1)"></span>
  <span class="dotmobile" onclick="currentSlide(2)"></span>
  <span class="dotmobile" onclick="currentSlide(3)"></span>
  <span class="dotmobile" onclick="currentSlide(4)"></span>
  <span class="dotmobile" onclick="currentSlide(5)"></span>
  <span class="dotmobile" onclick="currentSlide(6)"></span>
  <span class="dotmobile" onclick="currentSlide(7)"></span>
  <span class="dotmobile" onclick="currentSlide(8)"></span>
  <span class="dotmobile" onclick="currentSlide(9)"></span>
  <span class="dotmobile" onclick="currentSlide(10)"></span>
  <span class="dotmobile" onclick="currentSlide(11)"></span>
</div>

<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "flex";
    dots[slideIndex-1].className += " active";
  }

  //MOBILE
  showSlidesMobile(slideIndex);

  // Next/previous controls
  function plusSlidesMobile(n) {
    showSlidesMobile(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlideMobile(n) {
    showSlidesMobile(slideIndex = n);
  }
  function showSlidesMobile(n) {
    var i;
    var slidesmobile = document.getElementsByClassName("mobileSlides");
    var dotsmobile = document.getElementsByClassName("dotmobile");
    if (n > slidesmobile.length) {slideIndex = 1}
    if (n < 1) {slideIndexMobile = slidesmobile.length}
    for (i = 0; i < slidesmobile.length; i++) {
        slidesmobile[i].style.display = "none";
    }
    for (i = 0; i < dotsmobile.length; i++) {
        dotsmobile[i].className = dotsmobile[i].className.replace(" active", "");
    }
    slidesmobile[slideIndex-1].style.display = "flex";
    dotsmobile[slideIndex-1].className += " active";
  }

</script>
