<h2>Threatened Coral</h2>
<img src="../images/yellow-underline-left.svg" class="heading-underline">
<p>Belize is home the world’s second largest barrier reef. The reef supports over 500 species of fish and dozens of coral species, making it a crucial part of Belize’s ecosystem. However, there are several dangers threatening the survival of the reef. In the images below, the left side of the coral is healthy, the right side is coral under stress. </p>
<p class="instructions">Click or tap on each card to learn more.</p>

<div class= "fliplayout">


  <div class="flip-card item1">
      <div class="flip-card-inner" onclick="this.classList.toggle('flipped');">
        <div class="side flip-card-front">
          <div class="text">
            <h3>Climate Change</h3>
          </div>
          <img src="{{ .Site.BaseURL }}marine-science-interactive/climateChange.png" alt="Avatar">
        </div>
        <div class="side flip-card-back">
          <h3>Climate Change</h3>
            <img src="{{ .Site.BaseURL }}images/yellow-underline-left.svg">
          <p>Rising water temperatures due to climate change and an increase of greenhouse gasses in the atmosphere pose a major threat to coral. Even slight variations in temperature cause coral bleaching, turning the coral white. Bleaching events can be drastic and sometimes the coral can't recover.</p>
        </div>
    </div>
  </div>


  <div class="flip-card item2">
      <div class="flip-card-inner" onclick="this.classList.toggle('flipped');">
        <div class="side flip-card-front">
            <div class="text">
              <h3>Disease</h3>
            </div>
            <img src="{{ .Site.BaseURL }}marine-science-interactive/disease.png" alt="Avatar">
        </div>
        <div class="side flip-card-back">
          <h3>Disease</h3>
          <img src="{{ .Site.BaseURL }}images/yellow-underline-left.svg">
          <p>Coral can get diseases, too. Pollutants, rising water temperatures and radiation from the sun can cause disease, which can then wipe out an entire coral system. When coral is broken, either from fishing equipment or divers, it is at a greater risk of contracting a disease.</p>
        </div>
    </div>
  </div>

  <div class="flip-card item3">
    <div class="flip-card-inner" onclick="this.classList.toggle('flipped');">
        <div class="side flip-card-front">
          <div class="text">
            <h3>Pollution</h3>
          </div>
          <img src="{{ .Site.BaseURL }}marine-science-interactive/pollution.png" alt="Avatar">
        </div>
        <div class="side flip-card-back">
          <h3>Pollution</h3>
          <img src="{{ .Site.BaseURL }}images/yellow-underline-left.svg">
          <p>Pollution hurts the coral in two ways. First, physical pollution, such as plastic, can damage the coral or block the sun’s rays and prevent coral from getting nutrients. Second, industrial runoff in the water can raise water toxicity and cause diseases that ultimately lead to the death of the coral.</p>
        </div>
    </div>
  </div>

  <div class="flip-card item4">
    <div class="flip-card-inner" onclick="this.classList.toggle('flipped');">
      <div class="flip-card-front side">
        <div class="text">
          <h3>Overfishing</h3>
        </div>
        <img src="{{ .Site.BaseURL }}marine-science-interactive/overfishing.png" alt="Avatar">
      </div>
      <div class="flip-card-back side">
        <h3>Overfishing</h3>
        <img src="{{ .Site.BaseURL }}images/yellow-underline-left.svg">
        <p>Overfishing or illegal fishing practices can damage the coral. Overfishing herbivorous species remove fish that eat the plant species growing on the coral, leading to an unbalanced ecosystem. Illegal fishing practices, such as gill nets, can damage and break the coral, which then expose it to disease.</p>
      </div>
    </div>
  </div>

</div>
