<h2>Threatened Coral</h2>
<p>Belize is home the world’s second largest barrier reef. The reef supports over 500 species of fish and dozens of coral species, making it a crucial part of Belize’s ecosystem. However, there are several dangers threatening the survival of the reef. Please click or tap on each card to learn more. </p>

<div class= "fliplayout">

  <div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="text">
            <h3>Climate Change</h3>
          </div>
          <img src="{{ .Site.BaseURL }}marine-science-interactive/climateChange.png" alt="Avatar">
        </div>
        <div class="flip-card-back">
          <h3>Climate Change</h3>
          <p>Rising water temperatures due to climate change and an increase of greenhouse gasses in the atmosphere pose a major threat to coral. Even slight variations in temperature cause coral bleaching, turning the coral white. Bleaching events can be drastic and make it impossible for the coral to recover.</p>
        </div>
    </div>
  </div>

  <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
            <div class="text">
              <h3>Disease</h3>
            </div>
            <img src="{{ .Site.BaseURL }}marine-science-interactive/disease.png" alt="Avatar">
        </div>
        <div class="flip-card-back">
          <h3>Disease</h3>
          <p>Coral can get diseases, too. Pollutants, rising water temperatures and radiation from the sun can cause disease, which can then wipe out an entire coral system. When coral is broken, either from fishing equipment or divers, it is at a greater risk of contracting a disease.</p>
        </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="text">
            <h3>Pollution</h3>
          </div>
          <img src="{{ .Site.BaseURL }}marine-science-interactive/pollution.png" alt="Avatar">
        </div>
        <div class="flip-card-back">
          <h3>Pollution</h3>
          <p>Pollution hurts the coral in two ways. First, physical pollution, such as plastic, can damage the coral or block the sun’s rays and prevent coral from getting nutrients. Second, industrial runoff in the water can raise water toxicity and cause diseases that ultimately lead to the death of the coral.</p>
        </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="text">
          <h3>Overfishing</h3>
        </div>
        <img src="{{ .Site.BaseURL }}marine-science-interactive/overfishing.png" alt="Avatar">
      </div>
      <div class="flip-card-back">
        <h3>Overfishing</h3>
        <p>Overfishing or illegal fishing practices can damage the coral. Overfishing herbivorous species remove fish that eat the plant species growing on the coral, leading to an unbalanced ecosystem. Illegal fishing practices, such as gill nets, can damage and break the coral, which then expose it to disease in the same way an open wound on a human can be at risk of infection.</p>
      </div>
    </div>
  </div>

</div>

<style>
    /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.fliplayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.fliplayout p {
    font-size: 1.25em;
    line-height: 1em;
    padding: 15px;
    margin: 10px auto;
}

.fliplayout .flip-card-back h3 {
    font-size: 2em;
    line-height: 1em;
    padding-top: 15px;
    padding-left: 15px;
}


.fliplayout p:first-of-type:first-letter{
    float: none;
    font-size: 1em;
    line-height: 1em;
    padding: 0px;
    color: white;
  }

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 375px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
    position: relative;
    display: inline-block;
}

.flip-card-front .text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 5%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 100%;
}

.flip-card-front .text h3 {
    font-size: 2em;
}


.flip-card-front img {
    max-width: 300px;
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    /* background-image: url("{{ .Site.BaseURL }}marine-science-interactive/back.png""); */
    transform: rotateY(180deg);
}
</style>
