<h2>The Many Uses of Seaweed</h2>
<img src="../images/yellow-underline-left.svg" class="heading-underline">
<p>Rising temperatures have made the cultivation of seaweed more difficult, and Belize natives are resorting to different measures for their own livelihood and to maintain sustainable levels of the crop. Some estimate that Belize's seaweed production totals up to 9 million per year. For this reason, it remains an important asset for the creation of many resources in Belize, both perishable and otherwise.</p>

<div class="flourish-embed flourish-cards" data-src="visualisation/1755873" data-url="https://flo.uri.sh/visualisation/1755873/embed"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
