<h2>The Path to Progress</h2>
<img src="../images/yellow-underline-left.svg" class="heading-underline">
<p>Since the country’s conception, Belize natives and officials have worked to preserve their environment. From lobbying to on the ground activism, Belize is committing itself to stopping the effects of climate change.</p>

<section id="timeline">
  <div class="container">
    <div class="timeline flex-container">

      <div class="timeline-item flex-items-default selected">
        <div class="timeline-content text-left animated bounceIn">
          <h2>1981</h2>
          <p>Belize gains its independence from Great Britain and soon after passes the National Park System Act and Wildlife Protection Act</p>
        </div>
      </div>
      <div class="timeline-item flex-items-default">
        <div class="timeline-content text-left">
          <h2>1999</h2>
          <p>Belize establishes the National Sustainable Development Council</p>
        </div>
      </div>
      <div class="timeline-item flex-items-default">
        <div class="timeline-content text-left">
          <h2>2010</h2>
          <p>The government of Belize hosts the first United Nations Framework Convention on Climate Change in 2010</p>
        </div>
      </div>
      <div class="timeline-item flex-items-default">
        <div class="timeline-content text-left">
          <h2>2011</h2>
          <p>Managed Access fishing initiative seeking to prevent overfishing in Belizean seas is piloted</p>
        </div>
      </div>
      <div class="timeline-item flex-items-default">
        <div class="timeline-content text-left">
          <h2>2016</h2>
          <p>The San Pedro Council assesses beach erosion in Belize and develops a plan for reclamation</p>
        </div>
      </div>
      <div class="timeline-item flex-items-default">
        <div class="timeline-content text-left">
          <h2>2030</h2>
          <p>Deadline for 10 sustainable development goals defined by Belize government</p>
        </div>
      </div>
      <div class="dropdown animated bounceIn" style="left: -88px;">
        <div class="inner">
          <div class="arrow-down"></div>
        </div>
      </div>

    </div>
  </div>
</section>
