<style>

</style>
<h2>The Path to Progress</h2>
<img src="../images/yellow-underline-left.svg" class="heading-underline">
<p>Since the country’s conception, Belize natives and officials have worked to preserve their environment. From lobbying to on the ground activism, Belize is committing itself to stopping the effects of climate change.</p>


<section class="ps-timeline-sec">
        <div class="container">
            <ol class="ps-timeline">
                <li>
                    <div class="img-handler-top">
                        <img src="../sustainability/flag.png" alt="Belize flag">
                    </div>
                    <div class="ps-bot">
                        <p>Belize gains its independence from Great Britain and soon after passes the National Park System Act and Wildlife Protection Act</p>
                    </div>
                    <span class="ps-sp-top">1981</span>
                </li>
                <li>
                    <div class="img-handler-bot">
                        <img src="../sustainability/table.png" alt="conference table">
                    </div>
                    <div class="ps-top">
                        <p>Belize establishes the National Sustainable Development Council</p>
                    </div>
                    <span class="ps-sp-bot">1999</span>
                </li>
                <li>
                    <div class="img-handler-top">
                        <img src="../sustainability/fishnet.png" alt="fish in net">
                    </div>
                    <div class="ps-bot">
                        <p>Managed Access fishing initiative seeking to prevent overfishing in Belizean seas is piloted</p>
                    </div>
                    <span class="ps-sp-top">2010</span>
                </li>
                <li>
                    <div class="img-handler-bot">
                        <img src="../sustainability/island.png" alt="un parchment">
                    </div>
                    <div class="ps-top">
                        <p>Managed Access fishing initiative seeking to prevent overfishing in Belizean seas is piloted</p>
                    </div>
                    <span class="ps-sp-bot">2011</span>
                </li>
                <li>
                    <div class="img-handler-top">
                        <img src="../sustainability/Un.png" alt="desert island">
                    </div>
                    <div class="ps-bot">
                        <p>The government of Belize hosts the first United Nations Framework Convention on Climate Change in 2010</p>
                    </div>
                    <span class="ps-sp-top">2016</span>
                </li>
                <li>
                    <div class="img-handler-bot">
                        <img src="../sustainability/race.png" alt="finish line">
                    </div>
                    <div class="ps-top">
                        <p>Deadline for 10 sustainable development goals defined by Belize government</p>
                    </div>
                    <span class="ps-sp-bot">2030</span>
                </li>
            </ol>
        </div>
    </section>

<!-- <section id="timeline">
  <div class="container">
    <div class="timeline flex-container">

      <div class="timeline-item flex-items-default selected">
        <div class="timeline-content text-left animated bounceIn">
          <h2>1981</h2>
          <img src="../sustainability/flag.png" alt="Belize flag">
          <p>Belize gains its independence from Great Britain and soon after passes the National Park System Act and Wildlife Protection Act</p>
        </div>
      </div>
      <div class="timeline-item flex-items-default">
        <div class="timeline-content text-left">
          <h2>1999</h2>
          <img src="../sustainability/table.png" alt="conference table">
          <p>Belize establishes the National Sustainable Development Council</p>
        </div>
      </div>
      <div class="timeline-item flex-items-default">
        <div class="timeline-content text-left">
          <h2>2010</h2>
          <img src="../sustainability/Un.png" alt="un parchment">
          <p>The government of Belize hosts the first United Nations Framework Convention on Climate Change in 2010</p>
        </div>
      </div>
      <div class="timeline-item flex-items-default">
        <div class="timeline-content text-left">
          <h2>2011</h2>
          <img src="../sustainability/fishnet.png" alt="fish in net">
          <p>Managed Access fishing initiative seeking to prevent overfishing in Belizean seas is piloted</p>
        </div>
      </div>
      <div class="timeline-item flex-items-default">
        <div class="timeline-content text-left">
          <h2>2016</h2>
          <img src="../sustainability/island.png" alt="desert island">
          <p>The San Pedro Council assesses beach erosion in Belize and develops a plan for reclamation</p>
        </div>
      </div>


    </div>
  </div>
</section> -->
